body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* ============================== */

 
.download_one{
    /* width: 55%; */
    height: 300px;
    margin: 10px auto;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.heading h1{
    text-align: center;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.733);
    font-family: 'Roboto', sans-serif;
}
.heading h3{
    color: rgba(128, 128, 128, 0.904);
    text-align: center;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}
.a_tags ul {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    list-style: none;
    justify-content: center;
    /* margin-left: 50px;  */
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}
.a_tags li{
    padding-left: 20px;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}
.a_tags li a{
    color: rgb(3,169,244);
    letter-spacing: 1px;
    text-decoration: none;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}
.p_tags{
    width: 55%;
    height: 60px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    font-family: 'Roboto', sans-serif; 
}
.p_tags p{
    background-color: rgb(225,245,254);
    width: 100px;
    height: 20px;
    padding-top: 5px;
    font-size: 12.5px;
    text-align: center;
    border-radius: 3px;
    font-weight: 90px;
    color: gray;  
    font-family: 'Roboto', sans-serif;
}
/* ======================== */
.browser{
    display: flex;
    justify-content: center;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}

.browser .apps{
    margin-top: 100px;
    line-height: 50px;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}

.line{
    background-color: rgba(50, 47, 214, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.494);
    height: 1px ;
    width: 50%;
    margin: auto;
    margin-top: 55px;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}



/* ============================ */

.desktop{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
    
}

.desktop .apps{
    margin-top: 50px;
    line-height: 50px;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}

/* ================== */




.mobile{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}

.mobile .apps{
    margin-top: 80px;
    line-height: 50px;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}


.Dark__btn{
    display: block;
    width: 280px;
    height: 55px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px auto 5px;
    background-color:#3788D1;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    opacity: 0.8;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
} 
.Dark__btn:hover{
    opacity: 1;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}

.Heading__Two{              
    font-size: 34px !important; 
    color: #3D4859;
    font-weight: 400;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}


.Light__btn{
    height: 40px;
    width: 100px;
    font-weight: 400;
    font-size: 16px;
    color:  #5FBDF7;
    border-radius: 5px;
    border: 2px solid #5FBDF7;
    background-color: transparent;
    outline: none;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}

.Light__btn:hover{
    background-color: #5FBDF7;
    color: white;
    transform: scale(1.1);
    font-family: 'Roboto', sans-serif;
}


/* -------------------------Global styles End--------------------------------- */

.Navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 72%;
    padding: 0 5%;
    margin: auto;
}

.Navigation > div{
   white-space: nowrap;
    margin: 17px;
}

.Navigation__spacer {
    flex-grow: 1;
}

.Navigation a{
    text-decoration: none;
    color: #5A6B7B;
    font-size: 16px;
}

.Navigation a:hover{
    color: #3077BD;
}

.Navigation__toggle i{
   font-size: 30px;
}

.Navigation__mobile{
    animation: nav-open  0.3s ease;
}
/* -------------------------Navigation End--------------------------------- */

.Footer{
    text-align: center;
    margin-top: 60px;
    background-color: #F7FCFF;
    padding: 6% 0 2%;
}

.Footer h1{              
    font-size: 40px;
    line-height: 64px;
    color: #3D4859;
    font-weight: 400;
}


.Footer i{
    font-size: 12px;
    display: inline-block;
    color: #3077BD;
}
.Footer i span{
    padding-left: 5px;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #3D5EBD;
}
.Footer i span:hover{
   text-decoration: underline;
}

.Footer__list{
    font-size: 14px;
    color: #5F6D7B;
    width: 25%;
    margin: 25px auto 55px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

.Footer__section{
    border-top: 0.5px #DEE9F1 solid;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    padding: 3% 0%;
    margin: 140px auto 30px;
    color: #5A6B7B;
}

.Footer__section > div {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    text-align: left;
}

.Footer__section > div:nth-child(1) a{
     text-decoration: none;
     color: #5A6B7B;
     font-size: 16px;
}

.Footer__section b{
    font-size: 18px;
    color: #424853;
}
.Footer__section p{
    font-size: 16px;
}

.Footer__section p:hover, .Footer__section p:hover {
    color: #3077BD;
    cursor: pointer;
}



.Footer__section i:nth-child(1){
    color: #3077BD;
    font-size: 20px;
    margin-right: 10px;
}

.Footer__section i:nth-child(2){
    color: red;
    font-size: 20px;
}

.Footer__navigation{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    margin: 20px auto 0;
}

.Footer__navigation > div{
    flex-basis:1;
    margin: 0 15px;
}

.Footer__navigation > div:nth-child(1){
    flex-grow: 1;
    text-align: left;
    margin: 0;
}

.Footer__navigation p {
    font-size: 14px;
    color: #83ADD7;
    cursor: pointer;
}

.Footer__navigation p:hover{
    color: #3077BD;
}

.Footer__navigation div:nth-child(1) p:hover{
    color: #83ADD7; 
    cursor: initial;
}

/* ------------------------- Footer Ends--------------------------------- */


/* --------------------------------MEDIA QUERIES START------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .Navigation{
        width: 90%;
        padding: 0 0%;
    }


    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }
    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }

    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
    .Navigation__mobile a:hover{
        color: #3077BD;
    }

    /* -------------------------Navigation End--------------------------------- */


    .Header{
        text-align: center;
        margin-top: 60px;
    }

    .Header h1{              
        font-size: 35px;
        line-height: 64px;
        color: #3D4859;
        font-weight: 400;
    }

    .Header__desc{
        width: 100%;
        margin: 30px auto;
    }
    .Header__hero__image{
        position: relative;
        width: 90%;
        margin: auto;
    }

    /* -------------------------Header End--------------------------------- */

    

    .Features__desc{
    width: 100%;
    margin: 30px auto;
    }

    .Features__showcase__section{
        flex-direction: column;  
        margin: 5%;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: column;
    }

    /* -------------------------Features End--------------------------------- */

    .Platforms__desc{
        width: 100%;
        margin: 30px auto;
    }

    .Platforms__apps{
        width: 100%;
        flex-direction: column;
    }

    .Platforms__apps > div{
        width: 100%;
        align-items: center;
    }
 
    /* -------------------------Platforms End--------------------------------- */
 

    .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }
    /* ------------------------- Usp End--------------------------------- */
    
    .Free{
        display: flex;
        flex-direction: column;
    }
    /*-----------------------------Free End---------------------*/
    .Footer__list{
        display: none;
    }

    .Footer__section{
        width: 100%;
        flex-wrap: wrap;
    }

    .Footer__section > div {
       width: 40%;
       margin: 5%;
       min-width: 120px;
    }
    
    .Footer__navigation{
        justify-content: space-between;
        width: 100%;
     
    }
    
    .Footer__navigation > div:nth-child(1){
        display: none;
    }
    .Footer__navigation > div:nth-child(2){
        display: none;
    }
    

 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }

    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }
    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
     /* -------------------------Navigation End--------------------------------- */

     .Header__desc{
        width: 90%;
        margin: 30px auto;
    }
    /* -------------------------Header End--------------------------------- */

 

    .Features__desc{
    width: 100%;
    margin: 30px auto;
    }

    .Features__showcase__section{
        flex-direction: column;  
        margin: 5%;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: column;
    }
 
     /* -------------------------Features End--------------------------------- */

     .Platforms__desc{
        width: 100%;
        margin: 30px auto;
    }

    .Platforms__apps{
        width: 100%;
        flex-direction: column;
    }

    .Platforms__apps > div{
        width: 100%;
        align-items: center;
    }
      /* -------------------------Platforms End--------------------------------- */
 

      .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }

/* ------------------------- Usp End--------------------------------- */
 
.Free{
    display: flex;
    flex-direction: column;
}

.Footer__list{
    display: none;
}
 

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }
    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }
    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
    /* -------------------------Navigation End--------------------------------- */

  
    
    .Footer__list{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
   
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Navigation__toggle{
        display: none;
    }
    .disappear{
        display: inline;
    }
    .Navigation__mobile{
        display: none;
    }
       /* -------------------------Header End--------------------------------- */

     

    .Footer__list{
        width: 35%;
        justify-content: space-between;
    }
  
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Navigation__toggle{
        display: none;
    }
    .disappear{
        display: inline;
    }
    
    .Footer__list{
        width: 25%;
        justify-content: space-between;
    }
    
}