*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

body{
    padding: 11px 0px;
    background-image: linear-gradient(rgb(247, 252, 255), rgb(255, 255, 255));
    overflow-x: hidden;
    position: relative;
}

.Dark__btn{
    display: block;
    width: 280px;
    height: 55px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px auto 5px;
    background-color:#3788D1;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    opacity: 0.8;
   
} 
.Dark__btn:hover{
    opacity: 1;
}

.Light__btn{
    height: 40px;
    width: 100px;
    font-weight: 400;
    font-size: 16px;
    color:  #5FBDF7;
    border-radius: 5px;
    border: 2px solid #5FBDF7;
    background-color: transparent;
    outline: none;
}

.Light__btn:hover{
    background-color: #5FBDF7;
    color: white;
}



/* -------------------------Global styles End--------------------------------- */

.Navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 72%;
    padding: 0 5%;
    margin: auto;
}

.Navigation > div{
   white-space: nowrap;
    margin: 17px;
}

.Navigation__spacer {
    flex-grow: 1;
}

.Navigation a{
    text-decoration: none;
    color: #5A6B7B;
    font-size: 16px;
}

.Navigation a:hover{
    color: #3077BD;
}

.Navigation__toggle i{
   font-size: 30px;
}

.Navigation__mobile{
    animation: nav-open  0.3s ease;
}
/* -------------------------Navigation End--------------------------------- */

/* #Blue_div_Hover{
    top: 5%;
    left: 8%;
}
#White_Div_Hover{
    top: 37%;
    left: 7%;
}
#Feature_Dashboard_Hover{
    top: 66%;
    left:7%;
} */

#one{
    margin: 20px;
    margin-left: 30px;
}
#two{
    margin: 20px;
    margin-left: 30px;
}
#three{
    margin: 20px;
}
#four{
    margin: 20px;
}
#five{
    margin: 20px;
}
#six{
    margin: 20px;
}
 .White_Div_Img_Div {
     position: relative;
 }

 .Time_Tracker_EXP {
     display: none;
 }

 .Time_Tracker:hover+.Time_Tracker_EXP {
     display: block;
     position: absolute;
     top: 300px;
    left: 350px;
     
 }


 .Time_Sheet_EXP {
     display: none;
 }

 .Time_Sheet:hover+.Time_Sheet_EXP {
     display: block;
     position: absolute;
     top: 19%;
     left: 350px;

 }
 .Dashboard_EXP {
    display: none;
}

.Dashboard:hover+.Dashboard_EXP {
    display: block;
    position: absolute;
    top: 33%;
}

.Report_EXP {
    display: none;
}

.Report:hover+.Report_EXP {
    display: block;
    position: absolute;
    top: 48%;
}
.Project_EXP {
    display: none;
}

.Project:hover+.Project_EXP {
    display: block;
    position: absolute;
    top: 58%;
}
.Team_EXP {
    display: none;
}

.Team:hover+.Team_EXP {
    display: block;
    position: absolute;
    top: 64%;
}

.Feature_Page{
    /* margin-top: 165px; */
    padding-top: 100px;
    margin-bottom: 150px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
}
.White_Div{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    /* margin-left: 300px; */
   
}
.White_Div_desc{
    text-align: center;
    line-height: 65px;
    color: #3D4853;
    font-family: 'Roboto',sans-serif;
    height: 65px;
    background-color: #FFFFFF;
    padding: 100px;
}
.White_Div_h1{
    
    line-height: 65px;
    color: #3D4853;
    font-size: 40px;
    font-weight: none;
}
.White_Div_P{
    margin-top: 25px;
    color: #5A6B7B;
    background-color: #FFFFFF;
}
.White_Div_Img_Div{
    margin-left: 30px;
    margin-top: 0%;
    position: relative;
    
}
.White_Div_Img_Exp{
    /* display: none; */
}

.White_Div_Img_Div:hover .White_Div_Img_Exp{
    display: block;
    /* position: absolute; */
    cursor: no-drop;
    background-color: aqua;
    

}

.White_Div_Footer{
    display: flex;
   justify-content: space-between;
   /* align-items: center; */
   /* border: 1px solid black; */
   width: 100%;
   height: 250px;
   margin-left: 100px;
}
.Div_1 , .Div_2 , .Div_3 ,.Div_4{
    /* border: 1px solid black; */
    line-height: 40px;
    width: 100%;
    height: 100px;
    text-align: left;
}


.White_Div_footer_P_Head{   
    color:#3D4853;
    font-size: 22px;
}
.White_Div_footer_P_Desc{
  
    color: #5A6B7B;
    font-size: 15px;
}

/* blue div  */
.Blue_Div{
    width: 100%;
    height: auto;
    background-color: #F7FCFE;
    padding-top: 50px;
}
.Blue_Div_desc{

    text-align: center;
    line-height: 65px;
    color: #3D4853;
    font-family: 'Roboto',sans-serif;
    height: 65px;
    background-color: #F7FCFE;
}
.Blue_Div_h1{
    
    line-height: 65px;
    color: #3D4853;
    font-size: 40px;
    font-weight: none;
}
.Blue_Div_P{
    margin-top: 25px;
    color: #5A6B7B;
    background-color: #F7FCFE;
    
}
.Blue_Div_Img_Div{
    margin-left: 30px;
    margin-top: 1%;
    position: relative;
    transition: all 0.5s ease;
    
}

.Blue_Div_Img_Div:hover{
    transform: scale(1.1);
}
.Blue_Div_Img_Exp{
    display: none;
}
.Blue_Div_Img_Div:hover .Blue_Div_Img_Exp{
    display: block;
    position: absolute;

}

.Blue_Div_Footer{
    display: flex;
   justify-content: space-between;
   /* align-items: center; */
   /* border: 1px solid black; */
   width: 100%;
   height: 250px;
   margin-left: 100px;
}
.Div_1 , .Div_2 , .Div_3 ,.Div_4{
    /* border: 1px solid black; */
    line-height: 40px;
    width: 100%;
    height: 100px;
    text-align: left;
}


.Blue_Div_footer_P_Head{   
    color:#3D4853;
    font-size: 22px;
}
.Blue_Div_footer_P_Desc{
  
    color: #5A6B7B;
    font-size: 15px;
}

ul{
display: flex;
justify-content: space-evenly;
color:#3077BD;
justify-content: center;
margin-top: 10px;
margin-bottom: 15px;
}
ul li{
    margin-left: 20px;
}
a{
    color: #3077BD;
    text-decoration: none;
}

.app_btn > button{
    background-color: #E1F5FE;
    color: black;
    border: none;
    height: 20px;
}

.Report_tab >button{
    border: none;
    background-color: #E1F5FE;
    width: 200px;
    height: 50px;
    margin-top: 50px;
}

#img1{
    display: block;
    margin: auto; 
}
 
/* ------------------------- Testimonials End--------------------------------- */

.Footer{
    text-align: center;
    margin-top: 60px;
    background-color: #F7FCFF;
    padding: 6% 0 2%;
}

.Footer h1{              
    font-size: 40px;
    line-height: 64px;
    color: #3D4859;
    font-weight: 400;
}


.Footer i{
    font-size: 12px;
    display: inline-block;
    color: #3077BD;
}
.Footer i span{
    padding-left: 5px;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #3D5EBD;
}
.Footer i span:hover{
   text-decoration: underline;
}

.Footer__list{
    font-size: 14px;
    color: #5F6D7B;
    width: 25%;
    margin: 25px auto 55px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

.Footer__section{
    border-top: 0.5px #DEE9F1 solid;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    padding: 3% 0%;
    margin: 140px auto 30px;
    color: #5A6B7B;
}

.Footer__section > div {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    text-align: left;
}

.Footer__section > div:nth-child(1) a{
     text-decoration: none;
     color: #5A6B7B;
     font-size: 16px;
}

.Footer__section b{
    font-size: 18px;
    color: #424853;
}
.Footer__section p{
    font-size: 16px;
}

.Footer__section p:hover, .Footer__section p:hover {
    color: #3077BD;
    cursor: pointer;
}



.Footer__section i:nth-child(1){
    color: #3077BD;
    font-size: 20px;
    margin-right: 10px;
}

.Footer__section i:nth-child(2){
    color: red;
    font-size: 20px;
}

.Footer__navigation{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    margin: 20px auto 0;
}

.Footer__navigation > div{
    flex-basis:1;
    margin: 0 15px;
}

.Footer__navigation > div:nth-child(1){
    flex-grow: 1;
    text-align: left;
    margin: 0;
}

.Footer__navigation p {
    font-size: 14px;
    color: #83ADD7;
    cursor: pointer;
}

.Footer__navigation p:hover{
    color: #3077BD;
}

.Footer__navigation div:nth-child(1) p:hover{
    color: #83ADD7; 
    cursor: initial;
}

/* ------------------------- Footer Ends--------------------------------- */

/* ------------------------- Animations starts--------------------------------- */

    /* @keyframes nav-open{
        0% { margin-bottom: -200px;}
        50% {margin-bottom: -100px;}
        100% {margin-bottom: 0px;}
    }
  
    @keyframes nav-close{
        0% {margin-bottom: 0px;}
        50% {margin-bottom: -100px;}
        100% { margin-bottom: -200px;}
    }

    */

/* ------------------------- Animation Ends--------------------------------- */


/* --------------------------------MEDIA QUERIES START------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .Navigation{
        width: 90%;
        padding: 0 0%;
    }


    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }
    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }

    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
    .Navigation__mobile a:hover{
        color: #3077BD;
    }

    /* -------------------------Navigation End--------------------------------- */


    .Header{
        text-align: center;
        margin-top: 60px;
    }

    .Header h1{              
        font-size: 35px;
        line-height: 64px;
        color: #3D4859;
        font-weight: 400;
    }

    .Header__desc{
        width: 100%;
        margin: 30px auto;
    }
    .Header__hero__image{
        position: relative;
        width: 90%;
        margin: auto;
    }

    /* -------------------------Header End--------------------------------- */

    

    .Features__desc{
    width: 100%;
    margin: 30px auto;
    }

    .Features__showcase__section{
        flex-direction: column;  
        margin: 5%;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: column;
    }

    /* -------------------------Features End--------------------------------- */

    .Platforms__desc{
        width: 100%;
        margin: 30px auto;
    }

    .Platforms__apps{
        width: 100%;
        flex-direction: column;
    }

    .Platforms__apps > div{
        width: 100%;
        align-items: center;
    }
 
    /* -------------------------Platforms End--------------------------------- */
 

    .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }
    /* ------------------------- Usp End--------------------------------- */
    
    .Free{
        display: flex;
        flex-direction: column;
    }
    /*-----------------------------Free End---------------------*/
    .Footer__list{
        display: none;
    }

    .Footer__section{
        width: 100%;
        flex-wrap: wrap;
    }

    .Footer__section > div {
       width: 40%;
       margin: 5%;
       min-width: 120px;
    }
    
    .Footer__navigation{
        justify-content: space-between;
        width: 100%;
     
    }
    
    .Footer__navigation > div:nth-child(1){
        display: none;
    }
    .Footer__navigation > div:nth-child(2){
        display: none;
    }
    

 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }

    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }
    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
     /* -------------------------Navigation End--------------------------------- */

     .Header__desc{
        width: 90%;
        margin: 30px auto;
    }
    /* -------------------------Header End--------------------------------- */

 

    .Features__desc{
    width: 100%;
    margin: 30px auto;
    }

    .Features__showcase__section{
        flex-direction: column;  
        margin: 5%;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: column;
    }
 
     /* -------------------------Features End--------------------------------- */

     .Platforms__desc{
        width: 100%;
        margin: 30px auto;
    }

    .Platforms__apps{
        width: 100%;
        flex-direction: column;
    }

    .Platforms__apps > div{
        width: 100%;
        align-items: center;
    }
      /* -------------------------Platforms End--------------------------------- */
 

      .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }


/* ------------------------- Usp End--------------------------------- */
 
.Free{
    display: flex;
    flex-direction: column;
}

.Footer__list{
    display: none;
}
 

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }
    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }
    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
    /* -------------------------Navigation End--------------------------------- */

    .Header__desc{
        width: 80%;
        margin: 30px auto;
    }

     /* -------------------------Features End--------------------------------- */

     .Platforms__desc{
        width: 80%;
        margin: 30px auto;
    }
  /* -------------------------Platforms End--------------------------------- */
 

    .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }

    /* ------------------------- Usp End--------------------------------- */
 
    .Free{
        flex-direction: row;
    }
    
    .Footer__list{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
   
    
   
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Navigation__toggle{
        display: none;
    }
    .disappear{
        display: inline;
    }
    .Navigation__mobile{
        display: none;
    }
       /* -------------------------Header End--------------------------------- */

    
       .Features__showcase{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Features__showcase__section{
        padding: 2% 9%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: row-reverse;
    }
       /* -------------------------Features End--------------------------------- */

    .Platforms__desc{
        width: 50%;
        margin: 30px auto;
    }

    .Platforms__apps{
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .Platforms__apps > div{
        width: 33%;
        align-items: flex-start;
    }

     /* -------------------------Platform Ends--------------------------------- */
     .Usp__cards{
        width: 100%;
        margin: 10px auto 100px;
        }
    
    .Usp__cards__section{
        width: 30%;
        margin: 5%;
        text-align: left;
        padding: 5%;  
    }

    .Footer__list{
        width: 35%;
        justify-content: space-between;
    }
  
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Navigation__toggle{
        display: none;
    }
    .disappear{
        display: inline;
    }
      /* -------------------------Platform Ends--------------------------------- */
    .Usp__cards{
    width: 90%;
    margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 30%;
        margin: 2.5%;
        text-align: left;
        padding: 2.5%;  
    }
    .Footer__list{
        width: 25%;
        justify-content: space-between;
    }
    
}
