*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

body{
    padding: 11px 0px;
    background-image: linear-gradient(rgb(247, 252, 255), rgb(255, 255, 255));
    overflow-x: hidden;
    position: relative;
}

.right{
    float:right;
}
.left{
    float:left;
}
.clear{
    clear: both;
}

p{
    font-size: 21px;
    line-height: 31px;
    color: #636B7B;
} 

.Dark__btn{
    display: block;
    width: 280px;
    height: 55px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px auto 5px;
    background-color:#3788D1;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    opacity: 0.8;
   
} 
.Dark__btn:hover{
    opacity: 1;
}

.Heading__Two{              
    font-size: 34px !important; 
    color: #3D4859;
    font-weight: 400;
}


.Light__btn{
    height: 40px;
    width: 100px;
    font-weight: 400;
    font-size: 16px;
    color:  #5FBDF7;
    border-radius: 5px;
    border: 2px solid #5FBDF7;
    background-color: transparent;
    outline: none;
   
}

.Light__btn:hover{
    background-color: #5FBDF7;
    color: white;
}


/* -------------------------Global styles End--------------------------------- */

.Navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 72%;
    padding: 0 5%;
    margin: auto;
}

.Navigation > div{
   white-space: nowrap;
    margin: 17px;
}

.Navigation__spacer {
    flex-grow: 1;
}

.Navigation a{
    text-decoration: none;
    color: #5A6B7B;
    font-size: 16px;
}

.Navigation a:hover{
    color: #3077BD;
}

.Navigation__toggle i{
   font-size: 30px;
}

.Navigation__mobile{
    animation: nav-open  0.3s ease;
}
/* -------------------------Navigation End--------------------------------- */


.Header{
    text-align: center;
    margin-top: 60px;
}

.Header h1{              
    font-size: 40px;
    line-height: 64px;
    color: #3D4859;
    font-weight: 400;
}

.Header__desc{
    width: 40%;
    margin: 30px auto;
}

.Header i{
    font-size: 12px;
    display: inline-block;
    color: #3077BD;
}
.Header i span{
    padding-left: 5px;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #3D5EBD;
}
.Header i span:hover{
   text-decoration: underline;
}

.Header__showcase{
    display: block;
    margin: 70px auto 10px;
}

.Header__hero{
    margin: 60px auto;
}

.Header__hero__image{
    position: relative;
    width: 65%;
    margin: auto;
}

.Header__hero__image img:nth-child(1){
    width: fit-content;
    margin: 20px auto 10px;
    width: 80%;
}


.Header__hero__image img:nth-child(2){
    width: fit-content;
    width: 100%;
}


.Header__hero__image img:nth-child(3){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 0 3px 24px 0 rgba(0,0,0,0.5);
}

/* -------------------------Toggle--------------------------------- */

 
.Header__hero__toggle {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 18px;
    
}
 
.Header__hero__toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #070707;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #030303;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 16px;
}
  
.slider.round:before {
    border-radius: 50%;
}


/* -------------------------Header End--------------------------------- */

.Features{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 60px;
}



 .Features__desc{
   width: 35%;
   margin: 30px auto;
}

.Features__showcase li{
    list-style-type: none;
}


.Features__showcase{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Features__showcase__section{
    padding: 2% 9%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
}

.Features__showcase > div:nth-child(even){
    flex-direction: row-reverse;
}

.Features__showcase p{
    color: #4a4d50;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.Features__showcase span:nth-child(2){
    line-height: 2;
    font-size: 18px;
    color: #5B6C91;
}

.Features__showcase span:nth-child(1){
    color: #75D3F8;
    font-size: 16px;
    margin-right: 15px;
}

 /* -------------------------Features End--------------------------------- */

.Platforms{
    text-align: center;
    background-color: #F7FCFF;
    padding: 5% 0;
    width: 100%;
}

.Platforms__desc{
    width: 35%;
    margin: 30px auto;
}

.Platforms__apps{
    display: flex;
    width: 100%;
}

.Platforms__apps > div{
  width: 33%;
  align-items: flex-start;
}

.Platforms__apps h4{
    color: #495358;
    line-height: 50px;
    font-size: 13px;
    text-transform: uppercase;
}


 /* -------------------------Platforms End--------------------------------- */
.Usp{
    padding: 5%;
    text-align: center;
}

.Usp__cards{
    width: 70%;
    margin: 10px auto 100px;
}

 .Usp__cards__section{
     width: 30%;
     margin: 5%;
     text-align: left;
     padding: 5%;
     box-shadow: 1px 1px 4px rgb(233, 232, 232);
     transition: all 0.3s ease;
     border-top: 3px #45A9F3 solid;
     border-top-left-radius: 2px;
     border-top-right-radius: 2px;
 }
 .Usp__cards__section:hover{
    transform: translateY(-1%);
    box-shadow: 1px 1px 4px rgb(167, 165, 165);
    cursor: pointer;
}

 .Usp__cards__section i{
     font-size: 45px;
     color: #45A9F3;
     line-height: 70px;
 }
 
 .Usp__cards__section b{
     color: #53565a;
     line-height: 50px;
     font-size: 16px;
 }

 .Usp__cards__section p{
    all: unset;
    font-size: 16px;
    color: #767b80;
}

.Usp__cards__section span{
    line-height: 50px;
    font-size: 16px;
    color: #45A9F3;
}

 .Usp__cards__section *{
    display: block;
    line-height: 40px;
 }

/* ------------------------- Usp End--------------------------------- */
 
.Free{
    background-color: #F7FCFF;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Free > div{
    margin: 50px;
}

.Free h2{
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: #45A9F4;
}

.Free h2 + span{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #45A9F4;
}

.Free li{
    list-style-type: none;
    line-height: 30px;
}

.Free li span:nth-child(1){
    color: #45A9F4;
    margin-right: 15px;
}


.Free li span:nth-child(2){
    color: #607691;
    font-size: 16px;
}

.Free p{
    all: unset;
    color: #45A9F4;
    line-height: 60px;
}
.Free p:hover{
    text-decoration: underline;
}

/* ------------------------- Free End--------------------------------- */
 
.Testimonials{
    padding: 5% 0;
    text-align: center;
}

.Testimonials img{
    margin: 30px auto 10px;
}

.Testimonials span{
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    color: #5B6D7B;
    margin-bottom: 10px;
}

.Testimonials__rating{
    font-size: 15px;
    color: #3a4046;
    display: block;
}

.Testimonials__cards{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; 
    width: 2660px;
    margin-left: -200px;
    margin-top: 50px;
}

 

.Testimonials__cards__section{
    width: 290px;
    margin: 10px;
    box-shadow: 1px 1px 4px rgb(233, 232, 232);
    transition: all 0.2s ease;
    padding: 10px;
    text-align: left;
}


.Testimonials__cards__section:hover{
    transform: translateY(-2%);
    box-shadow: 2px 2px 8px rgb(202, 200, 200);
    cursor: pointer;
}
 

.Testimonials__cards__section p{
    line-height: 24px;
    font-weight: 400;
}

.Testimonials__cards__section p:nth-child(1){
    font-size: 13px;
    font-weight: 700;
    color: #5a6b7b;
}
.Testimonials__cards__section p:nth-child(2){
   font-size: 16px;
   color: #ffbf00;
   margin-bottom: 10px;
}
.Testimonials__cards__section p:nth-child(3){
    font-size: 12px;
    line-height: 18px;
    color: #718191;
}
.Testimonials__cards__section p:nth-child(4){
    font-size: 10px;
    color: #718191;
    font-style: italic;
}
 
.Testimonials > div img{
    width: 90%;
}


/* ------------------------- Testimonials End--------------------------------- */

.Footer{
    text-align: center;
    margin-top: 60px;
    background-color: #F7FCFF;
    padding: 6% 0 2%;
}

.Footer h1{              
    font-size: 40px;
    line-height: 64px;
    color: #3D4859;
    font-weight: 400;
}


.Footer i{
    font-size: 12px;
    display: inline-block;
    color: #3077BD;
}
.Footer i span{
    padding-left: 5px;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #3D5EBD;
}
.Footer i span:hover{
   text-decoration: underline;
}

.Footer__list{
    font-size: 14px;
    color: #5F6D7B;
    width: 25%;
    margin: 25px auto 55px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

.Footer__section{
    border-top: 0.5px #DEE9F1 solid;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    padding: 3% 0%;
    margin: 140px auto 30px;
    color: #5A6B7B;
}

.Footer__section > div {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    text-align: left;
}

.Footer__section > div:nth-child(1) a{
     text-decoration: none;
     color: #5A6B7B;
     font-size: 16px;
}

.Footer__section b{
    font-size: 18px;
    color: #424853;
}
.Footer__section p{
    font-size: 16px;
}

.Footer__section p:hover, .Footer__section p:hover {
    color: #3077BD;
    cursor: pointer;
}



.Footer__section i:nth-child(1){
    color: #3077BD;
    font-size: 20px;
    margin-right: 10px;
}

.Footer__section i:nth-child(2){
    color: red;
    font-size: 20px;
}

.Footer__navigation{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    margin: 20px auto 0;
}

.Footer__navigation > div{
    flex-basis:1;
    margin: 0 15px;
}

.Footer__navigation > div:nth-child(1){
    flex-grow: 1;
    text-align: left;
    margin: 0;
}

.Footer__navigation p {
    font-size: 14px;
    color: #83ADD7;
    cursor: pointer;
}

.Footer__navigation p:hover{
    color: #3077BD;
}

.Footer__navigation div:nth-child(1) p:hover{
    color: #83ADD7; 
    cursor: initial;
}

/* ------------------------- Footer Ends--------------------------------- */

/* ------------------------- Animations starts--------------------------------- */

    /* @keyframes nav-open{
        0% { margin-bottom: -200px;}
        50% {margin-bottom: -100px;}
        100% {margin-bottom: 0px;}
    }
  
    @keyframes nav-close{
        0% {margin-bottom: 0px;}
        50% {margin-bottom: -100px;}
        100% { margin-bottom: -200px;}
    }

    */

/* ------------------------- Animation Ends--------------------------------- */


/* --------------------------------MEDIA QUERIES START------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .Navigation{
        width: 90%;
        padding: 0 0%;
    }


    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }
    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }

    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
    .Navigation__mobile a:hover{
        color: #3077BD;
    }

    /* -------------------------Navigation End--------------------------------- */


    .Header{
        text-align: center;
        margin-top: 60px;
    }

    .Header h1{              
        font-size: 35px;
        line-height: 64px;
        color: #3D4859;
        font-weight: 400;
    }

    .Header__desc{
        width: 100%;
        margin: 30px auto;
    }
    .Header__hero__image{
        position: relative;
        width: 90%;
        margin: auto;
    }

    /* -------------------------Header End--------------------------------- */

    

    .Features__desc{
    width: 100%;
    margin: 30px auto;
    }

    .Features__showcase__section{
        flex-direction: column;  
        margin: 5%;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: column;
    }

    /* -------------------------Features End--------------------------------- */

    .Platforms__desc{
        width: 100%;
        margin: 30px auto;
    }

    .Platforms__apps{
        width: 100%;
        flex-direction: column;
    }

    .Platforms__apps > div{
        width: 100%;
        align-items: center;
    }
 
    /* -------------------------Platforms End--------------------------------- */
 

    .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }
    /* ------------------------- Usp End--------------------------------- */
    
    .Free{
        display: flex;
        flex-direction: column;
    }
    /*-----------------------------Free End---------------------*/
    .Footer__list{
        display: none;
    }

    .Footer__section{
        width: 100%;
        flex-wrap: wrap;
    }

    .Footer__section > div {
       width: 40%;
       margin: 5%;
       min-width: 120px;
    }
    
    .Footer__navigation{
        justify-content: space-between;
        width: 100%;
     
    }
    
    .Footer__navigation > div:nth-child(1){
        display: none;
    }
    .Footer__navigation > div:nth-child(2){
        display: none;
    }
    

 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }

    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }
    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
     /* -------------------------Navigation End--------------------------------- */

     .Header__desc{
        width: 90%;
        margin: 30px auto;
    }
    /* -------------------------Header End--------------------------------- */

 

    .Features__desc{
    width: 100%;
    margin: 30px auto;
    }

    .Features__showcase__section{
        flex-direction: column;  
        margin: 5%;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: column;
    }
 
     /* -------------------------Features End--------------------------------- */

     .Platforms__desc{
        width: 100%;
        margin: 30px auto;
    }

    .Platforms__apps{
        width: 100%;
        flex-direction: column;
    }

    .Platforms__apps > div{
        width: 100%;
        align-items: center;
    }
      /* -------------------------Platforms End--------------------------------- */
 

      .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }


/* ------------------------- Usp End--------------------------------- */
 
.Free{
    display: flex;
    flex-direction: column;
}

.Footer__list{
    display: none;
}
 

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Navigation__toggle{
        display: inline;
    }
    .disappear{
        display: none;
    }
    .Navigation__mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50px;
        background-color:#F7FCFE;
        border-bottom: 1px solid #BBE8FB;
    }
    .Navigation__mobile > div{
        margin: 2%;
    }
    .Navigation__mobile a{
        text-decoration: none;
        color: #5A6B7B;
        font-size: 16px;
    }
    /* -------------------------Navigation End--------------------------------- */

    .Header__desc{
        width: 80%;
        margin: 30px auto;
    }

     /* -------------------------Features End--------------------------------- */

     .Platforms__desc{
        width: 80%;
        margin: 30px auto;
    }
  /* -------------------------Platforms End--------------------------------- */
 

    .Usp__cards{
        width: 90%;
        margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 80%;
        margin: 5%;
        text-align: left;
        padding: 5%;
        
    }

    /* ------------------------- Usp End--------------------------------- */
 
    .Free{
        flex-direction: row;
    }
    
    .Footer__list{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
   
    
   
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Navigation__toggle{
        display: none;
    }
    .disappear{
        display: inline;
    }
    .Navigation__mobile{
        display: none;
    }
       /* -------------------------Header End--------------------------------- */

    
       .Features__showcase{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Features__showcase__section{
        padding: 2% 9%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;
    }

    .Features__showcase > div:nth-child(even){
        flex-direction: row-reverse;
    }
       /* -------------------------Features End--------------------------------- */

    .Platforms__desc{
        width: 50%;
        margin: 30px auto;
    }

    .Platforms__apps{
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .Platforms__apps > div{
        width: 33%;
        align-items: flex-start;
    }

     /* -------------------------Platform Ends--------------------------------- */
     .Usp__cards{
        width: 100%;
        margin: 10px auto 100px;
        }
    
    .Usp__cards__section{
        width: 30%;
        margin: 5%;
        text-align: left;
        padding: 5%;  
    }

    .Footer__list{
        width: 35%;
        justify-content: space-between;
    }
  
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Navigation__toggle{
        display: none;
    }
    .disappear{
        display: inline;
    }
      /* -------------------------Platform Ends--------------------------------- */
    .Usp__cards{
    width: 90%;
    margin: 10px auto 100px;
    }

    .Usp__cards__section{
        width: 30%;
        margin: 2.5%;
        text-align: left;
        padding: 2.5%;  
    }
    .Footer__list{
        width: 25%;
        justify-content: space-between;
    }
    
}