 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
  
}
 
.Timetracker{
   width: 96%;
   padding: 2%; 
   background-color: #F2F6F8;
   font-size: 20px;
   min-height: 91.5vh;
 
}

 
 .Timetracker__navigation{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .Timetracker__head{
     
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 15px;
     border-radius: 10px;
     box-shadow: 2px 2px 16px rgb(231, 227, 227);
     background-color:#555758;
     color: white;
     flex-wrap: wrap;
      
 }

 
 .Timetracker__head > div{
     padding: 15px;
     margin: 15px;
 }

 .Timetracker__head input{
     height: 40px;
     border-radius: 5px;
     border: none;
     padding-left: 15px;
     font-size: 18px;
     outline: none;
     border:0.1px solid rgb(192, 190, 190);
 }

 .Timetracker__head input:focus{
    border: 2px solid green;
}

 .Timetracker__head button{
    height: 40px;
    width: 100px;
    font-weight: 600;
    font-size: 16px;
    color: #5FBDF7;
    border-radius: 5px;
    border: 2px solid #5FBDF7;
    background-color:#5FBDF7;
    color: white;
    outline: none;
 }

 .Timetracker__head button:hover{
    background-color:white;
    color:#5FBDF7;
}
 
 .Timetracker__description{
    width: 100%;
 }

 .Timetracker__body{
     margin: 100px auto;
 }


 .Timetracker__body__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin: 15px;
    box-shadow: 2px 2px 4px rgb(207, 205, 205);
    /* background-color: rgb(241, 240, 158); */
    background-color: white;
    font-size: 22px;
 }  

 .Timetracker__body__info:hover{
    /* transform: scale(1.06);
    transition: all 0.5s ease; */
    background-color: lightcyan;
 }

 .Timetracker__body__info > div{
    padding: 10px;
    margin: 10px 25px;
}

.Timetracker__body__info > div:nth-child(1){
    width: 180px;
}
.Timetracker__body__info > div:nth-child(2){
    width: 350px;
}
.Timetracker__body__info > div:nth-child(3){
    width: 400px;
}
.Timetracker__body__info > div:nth-child(4){
    width: 300px;
    display: flex;
}

.Timetracker__body__info > div:nth-child(4)  input{
    width: 40px !important;
    text-align: center;
    padding: 0;
}


.Timetracker__body__info > div:nth-child(5){
    width: fit-content;
}


.Timetracker__body__info input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border:0.1px solid rgb(192, 190, 190);
}

.fa-trash-alt{
    color: red;
    font-size: 32px;
}



 
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1490px) {
    .Timetracker__head{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 16px rgb(231, 227, 227);
        background-color:#555758;
        color: white;
    }

    .Timetracker__head input{
        width : 180px;
        font-size: 16px;
    }
   
    .Timetracker__body__info{
        justify-content: left;
        text-transform: capitalize;
        margin: 15px;
        box-shadow: 2px 2px 4px rgb(207, 205, 205);
        background-color: rgb(241, 240, 158);
        font-size: 22px;
        width: 90%;
     }  
    
    
    
     .Timetracker__body__info > div{
        padding: 10px;
        margin: 10px 25px;
    }
    
    .Timetracker__body__info > div:nth-child(1){
        min-width: 100px;
    }
    .Timetracker__body__info > div:nth-child(2){
        width: 280px;
    }
    .Timetracker__body__info > div:nth-child(3){
        width: 320px;
    }
    .Timetracker__body__info > div:nth-child(4){
        width: 220px;
        display: flex;
    }
    
    .Timetracker__body__info > div:nth-child(4)  input{
        width: 40px !important;
        text-align: center;
        padding: 0;
    }
    
    
}
 